[submodule "deps/crispy"]
	path = deps/crispy
	url = git@git-ssh.podbielniak.com:zachpodbielniak/crispy.git
[submodule "deps/bacon"]
	path = deps/bacon
	url = git@git-ssh.podbielniak.com:zachpodbielniak/bacon.git
[submodule "deps/gowl"]
	path = deps/gowl
	url = git@git-ssh.podbielniak.com:zachpodbielniak/gowl.git
[submodule "deps/podomation"]
	path = deps/podomation
	url = git@git-ssh.podbielniak.com:zachpodbielniak/podomation.git
[submodule "deps/mcp-glib"]
	path = deps/mcp-glib
	url = git@gitlab.com:copyleft-games/mcp-glib.git
[submodule "deps/libreclaw"]
	path = deps/libreclaw
	url = git@git-ssh.podbielniak.com:zachpodbielniak/libreclaw.git
[submodule "deps/whisper.cpp"]
	path = deps/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "deps/piper"]
	path = deps/piper
	url = https://github.com/OHF-Voice/piper1-GPL.git
[submodule "deps/ai-glib"]
	path = deps/ai-glib
	url = git@git-ssh.podbielniak.com:zachpodbielniak/ai-glib.git
[submodule "deps/libregnum"]
	path = deps/libregnum
	url = git@gitlab.com:copyleft-games/libregnum.git
[submodule "deps/gsurf"]
	path = deps/gsurf
	url = git@git-ssh.podbielniak.com:zachpodbielniak/gsurf.git
[submodule "deps/cad-glib"]
	path = deps/cad-glib
	url = git@git-ssh.podbielniak.com:zachpodbielniak/cad-glib.git
[submodule "deps/screensavers"]
	path = deps/screensavers
	url = git@git-ssh.podbielniak.com:zachpodbielniak/screensavers.git
[submodule "deps/orm-glib"]
	path = deps/orm-glib
	url = git@git-ssh.podbielniak.com:zachpodbielniak/orm-glib.git
