[Desktop Entry]
Name=Emacs Libregnum (Client)
GenericName=Text Editor
Comment=Edit text (libregnum/raylib display backend)
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;x-scheme-handler/org-protocol;
Exec=emacsclient "--alternate-editor=emacs --lrg" --create-frame %F
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=cmacs
Keywords=emacsclient;libregnum;
Actions=new-window;new-instance;

[Desktop Action new-window]
Name=New Window
Exec=emacsclient "--alternate-editor=emacs --lrg" --create-frame %F

[Desktop Action new-instance]
Name=New Instance
Exec=emacs --lrg %F
